.section-form{
    margin-top: 100px;
    &__title{
        text-align: center;
        color: white;
    }
    form{
        margin: 50px auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: black;
        padding: 30px;
        max-width: 900px;
        width: 100%;
        border-radius: 10px;
        p{
            color: red;
            margin-top: 20px;
        }
        input{
            margin-top: 30px;
            width: 60%;
            padding: 20px;
        }
        select{
            margin-top: 30px;
            width: 60%;
            height: 50px;
        }
        textarea{
            margin-top: 30px;
            width: 60%;
            height: 300px;
            padding: 20px;
        }
        button{
            margin-top: 30px;
            background-color: white;
            width: 100px;
            height: 50px;
            border-radius: 5px;
        }
    }
    &__name-validation{
        display: none;
    }
    &__phone-validation{
        display: none;
    }
    &__input-validation{
        margin-top: 5px !important;
    }
}